* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.6;
}
:root {
    --primary: #1c448e;
    --secondary: #e7eefa;
}
section {
    padding-top: 3em;
}
.container{
    display: flex;
    gap: 1em;
    min-height: 100vh;
}
.info {
    background-color: var(--primary);
    color: #fff; 
    padding: .3em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8em;
    padding-top: 3em;
}
.info h1 {
    font-size: 1.5em;
}
.info ul {
    list-style-type: none;
    margin-top: 3em;
}
.info li {
    margin-bottom: .8em;
}
.info  li a {
    color: #fff;
}
.info img {
border-radius: 100%;
width: 200px;    
}
.sobre_min {
    max-width: 900px;
    margin: auto;
}
.sobre_min h2 {
    margin-bottom: .5em;
    font-size: 1.5em;
}
.resumo  {
    display: flex;
    justify-content: space-around;
    gap: 1em;
}
.resumo img {
    width: 45%;
}
.resumo p{
    font-size: 1em;
}
.resumo button {
    background-color: var(--primary);
    color: #fff;
    cursor: pointer;
    padding: .8em 1.2em;
    font-size: 15px;
    margin-top: 3em;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
    transition: all .3s ease-in-out;
}
.resumo button:hover {
    transform:scale(1.1);
}


.habilidades{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.6em;
    flex-wrap: wrap;
}
.habilidades div {
flex-basis: 25%;
border: 1px solid #000;
border-radius: 5px;
padding: .8em;
background-color: #dcdcdc;
margin: .8em;
cursor: context-menu;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.349);
transition: all 0.3s ease-in-out;
}
.habilidades div:hover {
    transform: scale(1.1);
}
.habilidades img {
    margin-bottom: 1.7em;
    height: 100px;
}
.zap {
    color: #128C7E;
}
.contato {
    padding: 1.5em;
}
footer {
    padding: 1.5em 0;
}
footer p {
    text-align: center;
}
@media (max-width: 900px)  {
    .container {
        display: block;
    }
    .info {
        height: 100vh;
    }
    .sobre_min {
        margin: 0 .5em;
    }
    .sobre_min h2 {
        text-align: center;
    }
    .resumo  {
        width: 70%;
        margin: auto;
    }
    .resumo img{
        display: none;
    }
    .habilidades {
        flex-direction: column;
        align-items: stretch;
        gap: 2em;
        width: 80%;
        margin: 0 auto;
    }
    .habilidades div {
        padding: 1.7em;
        
    }
    
    
}